<%= provide(:title, @user.name) %>

<section class="info">
	<table>
		<tr>
			<td><%= image_tag avatar_for(@user) %></td>
			<td><h1><%= @user.name %>'s Profile</h1></td>
		</tr>
	</table>
</section>

<% if @user == current_user %>
	<section class="dashboard">
		<% if @user.pending_friend_requests.any? %>
			<h3>Pending Friend Requests: <%= @friend_requests.count %></h3>
				<ul class="friend_requests">
					<%= render @friend_requests %>
				</ul>
		<% end %>
	</section>
<% end %>


<%= render partial: 'shared/add_friend_partial', locals: { user: @user } %>

<section class="posts">
	<% @user.posts.each do |post| %>
		<%= render post %>
	<% end %>
</section>


