<%= provide(:title, @user.name) %>
<div class="container">
	<div class="info">
		<h1><%= @user.image_url.nil? ? image_tag(avatar_for(@user)) : image_tag(@user.image_url) %>
		<%= @user.name %>'s Profile</h1>
	</div>

	<% if @user == current_user %>
		<div class="dashboard">
			<% if @user.pending_friend_requests.any? %>
				<h3>Pending Friend Requests: <%= @friend_requests.count %></h3>
					<ul class="friend_requests">
						<%= render @friend_requests %>
					</ul>
			<% end %>
		</div>
	<% end %>


	<%= render partial: 'shared/add_friend_partial', locals: { user: @user } %>

	<div class="posts">
		<% @user.posts.each do |post| %>
			<%= render post %>
		<% end %>
	</div>
</div>

